include LICENSE.md
include README.md
include LEGAL_NOTICE.md
include changelog.md

recursive-include webscout *

# Exclude common unwanted files and directories
recursive-exclude webscout __pycache__
recursive-exclude webscout *.pyc
recursive-exclude webscout *.pyo
recursive-exclude webscout *.pyd
